body{
    background-color: aliceblue;
}

.custom-img {
    height: 350px;
    margin: 0 auto;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }

.social-icons img {
    width: 30px; 
    height: auto;
    margin-right: 10px;
  }

.cohort-text {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    
  }
td {
    height: 35px;
}

.table-bordered tbody tr.full-width-row.bg-secondary {
  background-color: #f0f0f0;
}

.color-btn {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.color-btn:hover {
  color: white;
  background-color: #0056b3;
  border-color: #0056b3;
}
