body{
    background-color: aliceblue;
}

.custom-img {
    height: 300px;
    margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1;
}
  
.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }

.social-icons img {
    width: 30px; 
    height: auto;
    margin-right: 10px;
  }

.cohort-text {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    
  }
td {
    height: 35px;
}

.table-bordered tbody tr.full-width-row.bg-secondary {
  background-color: #f0f0f0;
}

.centered-text {
  text-align: center;
  font-weight: bold;
}

.bold-title {
  font-weight: bold;
  text-transform: uppercase;
}

.input-group {
  display: flex;
  max-width: 300px;
}

.input-group .form-control {
  flex: 1;
}

.input-group .btn-outline-secondary {
  flex-shrink: 0;
  width: 100px;
}

#checkbox-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.input-group .form-control {
  border-radius: 0;
}

.input-group .btn {
  border-radius: 0;
}

@media (max-width: 768px) {
  .input-group {
      width: 100%;
      margin-top: 1rem;
  }
}

.btn-blue {
  background-color: #007bff;
  color: white;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.event-details-container {
  display: flex;
  align-items: center;
}
.event-image {
  width: 650px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 8%;

}
.event-info {
  flex: 1;
  margin-left: 50px;
}

